// Base Fontsize
$bfs: 16px;

// 0. MI Styles
// ---------
$mi-blau: #4952e1;
$mi-pink: #dd1166;
$mi-gruen: #00AD2F;
$mi-lila: #9313ce;
$mi-black: #231f20;
$mi-grau: #aaaaaa;
$family-primary: "PT Sans";
$family-headlines: "Roboto Slab";